<div class="p-d-flex p-flex-column p-jc-center p-ai-center register">
  <h1 class="text-layout">First step into a new adventure</h1>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerForm.valid && onSumbit()"
    autocomplete="off"
  >
    <div class="p-shadow-8 box">
      <div class="p-fluid text-layout">
        <div class="p-field-radiobutton">
          <label class="p-mr-2">I am a: </label>
          <p-radioButton value="male" formControlName="gender"></p-radioButton>
          <label class="p-mr-2">Male</label>
          <p-radioButton
            value="female"
            formControlName="gender"
          ></p-radioButton>
          <label>Female</label>
        </div>
        <app-text-input
          [formControl]="$any(registerForm.controls['username'])"
          [label]="'Username'"
          [icon]="'pi-user'"
        >
        </app-text-input>
        <app-text-input
          [formControl]="$any(registerForm.controls['knownAs'])"
          [label]="'Known As'"
          [icon]="'pi-users'"
        >
        </app-text-input>

        <app-date-input
          [formControl]="$any(registerForm.controls['dateOfBirth'])"
          [label]="'Date of Birth'"
          [icon]="'pi-calendar-plus'"
          [Id]="'DoB'"
          [maxDate]="maxDate"
          [yearRange]="yearRange"
        ></app-date-input>

        <app-text-input
          [formControl]="$any(registerForm.controls['city'])"
          [label]="'City'"
          [icon]="'pi-map-marker'"
        >
        </app-text-input>
        <app-text-input
          [formControl]="$any(registerForm.controls['country'])"
          [label]="'Country'"
          [icon]="'pi-map'"
        >
        </app-text-input>
        <app-text-input
          [formControl]="$any(registerForm.controls['password'])"
          [label]="'Password'"
          [type]="'password'"
          [icon]="'pi-pencil'"
        >
        </app-text-input>
        <app-text-input
          [formControl]="$any(registerForm.controls['confirmPassword'])"
          [label]="'Confirm Password'"
          [type]="'password'"
          [icon]="'pi-pencil'"
        >
        </app-text-input>
      </div>
      <div *ngIf="validationErrors.length > 0">
        <ul class="p-error">
          <li *ngFor="let error of validationErrors">
            {{ error }}
          </li>
        </ul>
      </div>
      <button
        pButton
        type="submit"
        label="Register"
        [disabled]="!registerForm.valid"
        class="p-mt-3"
      ></button>

      <p class="login__redirect">
        You already have an acount, go to
        <a class="link" routerLink="/auth/login">Login</a>
      </p>
    </div>
  </form>
  <!-- <p class="text-layout">Form value: {{ registerForm.value | json }}</p>
  <p class="text-layout">Form value: {{ registerForm.status | json }}</p> -->
</div>
