<div class="p-d-flex p-flex-column p-jc-center p-ai-center register">
  <h1 class="text-layout" >First step into a new adventure</h1>
  <div class="p-shadow-8 box">
    <div class="p-fluid text-layout">
      <div class="p-field ">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Email">
      </div>
      </div>
      <div class="p-field">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
          <input type="password" pInputText placeholder="Password">
      </div>
      </div>
      <div class="p-field">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
          <input type="password" pInputText placeholder="Confirm Password">
      </div>
      </div>
      <button pButton type="submit" label="Submit" class="p-mt-3" ></button>

      <p class="login__redirect" >You already have an acount, go to <a class="link" routerLink='/auth/login' >Login</a></p>
    </div>
  </div>

</div>
