<div class="p-grid p-mt-5 p-jc-center">
  <div class="p-col-12 p-md-4 p-d-flex p-jc-center">
    <p-card
      [header]="member.knownAs"
      styleClass="p-card-shadow"
      [style]="{ 'max-width': '20rem' }"
    >
      <ng-template pTemplate="header">
        <img [alt]="member.knownAs" [src]="member | image" class="card__img" />
      </ng-template>
      <div>
        <strong>Location:</strong>
        <span class="p-ml-1">{{ member.city }}, {{ member.country }}</span>
      </div>
      <div class="p-mt-1">
        <strong>Age:</strong>
        <span class="p-ml-1">{{ member.age }}</span>
      </div>
      <div class="p-mt-1">
        <strong>Member since:</strong>
        <span class="p-ml-1">{{ member.created | date: "longDate" }}</span>
      </div>
      <div class="p-mt-1">
        <strong>Last active:</strong>
        <span class="p-ml-1">{{ member.lastActive | timeago }}</span>
      </div>
      <ng-template pTemplate="footer">
        <div class="card_footer">
          <p-button
            icon="pi pi-heart"
            label="Like"
            styleClass="p-button-danger p-mt-1"
          ></p-button>
          <p-button
            icon="pi pi-envelope"
            label="Message"
            styleClass="p-button-info p-mt-1"
            (onClick)="activeIndex = 3"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="p-col-12 p-md-6">
    <p-tabView [(activeIndex)]="activeIndex">
      <p-tabPanel header="About {{ member.knownAs }}">
        <h4>Description</h4>
        <p>{{ member.introduction }}</p>
        <h4>Looking for:</h4>
        <p>{{ member.lookingFor }}</p>
      </p-tabPanel>
      <p-tabPanel header="Interests">
        <h4>Interests</h4>
        <p>{{ member.interests }}</p>
      </p-tabPanel>
      <p-tabPanel header="Photos">
        <ng-template pTemplate="content">
          <app-img-gallery [images]="images"></app-img-gallery>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Messages">
        <ng-template pTemplate="content">
          <app-user-messages [username]="member.username"></app-user-messages>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
