<div class="text-layout p-mt-5">
  <div class="p-d-flex p-flex-column p-jc-center p-ai-center welcome">
    <h1>Find your match</h1>
    <p>Come on in to view your matches... all you need to do is Signup!</p>
    <div class="p-mt-4" >
      <button pButton
                routerLink='auth/register'
                type="button"
                label="Register"
                class="p-mr-5"
                color='primary'>
      </button>
      <button pButton
                type="button"
                label="More info"
                class="p-button-info" >
      </button>
    </div>
  </div>
</div>
